/* custom CSS config */

p {
  line-height: 1;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0D3055;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header,
#sidebar .sidebar-buttons {
    padding: 20px;
}

.logo {
    text-decoration: none;
    color: #fff;
}

.motto {
    font-family: Dejavu Sans;
    font-size: 0.7em;
}

ul.social {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social li {
  display: inline;
  margin: 0 5px;
}

ul.social li a {
  color: #fff;
}

.img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    float: left;
    margin-left: 10px;
}

.post-description {
  padding-top: 30px;
}
